*{margin: auto;
  padding: 0px;
  font-family: Helvetica, sans-serif;
  color: black;
  }



.part {
  height: 300px;
  text-align: center;

}

.one {
  background-color: #ababab;
}

.first-content {
  color: white;
}

.two {
  background-color: #c2c0c0;
}

.three {
  background-color: #676666;
}

.four {
  background-color: #3b3b3b;
}

.five {
  background-color: #626262;
}
